body {
  background-color: #111;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.pokemon-list {
  column-count: 2;
}

.btn-primary{
margin: 5px;
border-radius: 15px;
min-width: 200px;
background-color: maroon;
color: white
}

.btn-primary:hover {
  transition: 800ms;
  background-color: red;
  cursor: pointer;
}

ul {
  list-style-type: none;
  text-align: center;
}

.modal-content {
  border-radius: 25px;
  text-align: center;
  background-color: #FBFBF8;
}

.modal-header {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-body {
  font-size: 20px;
  color: black;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
